<div style="font-family: sans-serif">
  <strong >Mensagem de contato recebida no {{date}}</strong>
  <p>
    <strong>Nome: </strong> {{name}} <br>
    <strong>E-mail: </strong> {{email}} <br>
    <strong>Assunto: </strong> {{subject}} <br>
    <br>
    <small>
      {{message}}
    </small>
  </p>
</div>